header, footer {
    /*background: url('/assets/images/fond-bleu2.png') no-repeat center center;*/
    /*background-size: 100%;*/
    background-image: url("/assets/images/fond-bleu.jpg");
    background-repeat: repeat;
    background-size: 20%;

}

body{
    /*background-color: #eeeeee;*/
    background-color: #ffffff;
    font-family: "Roboto";
    font-size: 1em;
    color: #737373;
}

a{
    color: #eeeeee;
}



.clip               { position: absolute; top: 0; left: 0; }

.pos-1              { clip:rect(0 48px 48px 0); }
.pos-2              { clip:rect(0 96px 48px 48px); left: -48px; }
.pos-3              { clip:rect(48px 48px 96px 0); top: -48px; }
.pos-4              { clip:rect(48px 96px 96px 48px); top: -48px;  left: -48px; }




h3{
    font-family: "Amatic SC";
    font-size: 3em;

}

footer
{  font-family: "Amatic SC";
   }

section {
    height: 900px;
    background: url('/assets/images/accueil-background.jpg') no-repeat center center ;
    /*fixed*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/

}

.white{
    color:#ffffff
}

.bg-red{
    background-color:#d51254;
}


.bg-blue{
    background-color:#2a6796;
}


.bg-orange{
    background-color:#f8a10d;
}

.bg-green{
    background-color:#449d69;
}

#content {
    background-color: #ffffff;
    min-height: 300px;
}
ul{
    list-style: none;
    margin-bottom: 14px;
}

li {
    margin: 0 0 7px 0;
    padding-left: 1em;
}
li:nth-child(1) { border-left: 5px solid #d51254;}
li:nth-child(2) { border-left: 5px solid #2a6796;}
li:nth-child(3) { border-left: 5px solid #449d69;}
li:nth-child(4) { border-left: 5px solid #f8a10d;}


/*Bootstrap override*/
.navbar .navbar-nav {
    /*display: inline-block;*/
    /*float: none;*/

}
.navbar .navbar-collapse {
    text-align: center;
}



.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1500px;
}
.btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #dddddd;
}

li.nav-item > h2,div.dropdown a> h2{
    font-family: "Amatic SC";
    font-size: 2.6em;
    color:#ffffff;
    transform:  skewY(2deg);

}


li.nav-item,div.dropdown a{
    transform:  skewY(-2deg);
}
.dropdown-menu{
    background-color: transparent;
    border: 0px;

}

.dropdown-item{
color: #ffffff;
}

/*https://www.1001creches.com/entreprises/*/
@font-face {
    font-family: 'caviar_dreams';
    url('/assets/fonts/CaviarDreams.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;

}

p{
    /*font-family: "caviar_dreams" !important;*/
    font-family:"Roboto";
    /*color: rgb(102, 102, 102) !important;*/
    text-align: justify;
    margin: 0.5em;
    padding: 0.1em;
    /*padding: 20px;*/
    /*padding-bottom: 20px;*/
}


h3,h4,h5{
    margin: .5em 0 .5em 0;
}



h4{
    margin-top: 1em;
    text-transform: uppercase;
}


.paragraph-title{
    display: flex;
    width: 100%;;
}




blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    border-color: #449d69;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    max-width: 50%;
    margin-left: 3em;
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}