header {
    /*background: url('/assets/images/fond-bleu2.png') no-repeat center center;*/
    /*background-size: 100%;*/
    background-image: url("/assets/images/fond-bleu.jpg");
    background-repeat: repeat;
    background-size: 20%;

}

body{
    background-color: #eeeeee;
    font-family: "Roboto";
    font-size: 1.2em;
}





.clip               { position: absolute; top: 0; left: 0; }

.pos-1              { clip:rect(0 48px 48px 0); }
.pos-2              { clip:rect(0 96px 48px 48px); left: -48px; }
.pos-3              { clip:rect(48px 48px 96px 0); top: -48px; }
.pos-4              { clip:rect(48px 96px 96px 48px); top: -48px;  left: -48px; }



h3{
    font-family: "Amatic SC";
    font-size: 3em;
}


section {
    height: 900px;
    background: url('/assets/images/accueil-background.jpg') no-repeat center center ;
    /*fixed*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/

}

.white{
    color:#ffffff
}

.bg-red{
    background-color:#d51254;
}


.bg-blue{
    background-color:#2a6796;
}


.bg-orange{
    background-color:#f8a10d;
}

.bg-green{
    background-color:#449d69;
}




/*Bootstrap override*/
.navbar .navbar-nav {
    /*display: inline-block;*/
    /*float: none;*/

}
.navbar .navbar-collapse {
    text-align: center;
}



.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1500px;
}
.btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #dddddd;
}

li.nav-item > h2{
    font-family: "Amatic SC";
    font-size: 2.6em;
    color:#ffffff;
    transform:  skewY(2deg);

}


li.nav-item{
    transform:  skewY(-2deg);
}
